<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="in.avimarine.boatangels">

  <application
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_descriptor"
    android:icon="@mipmap/app_icon"
    android:label="@string/app_name"
    android:name=".App"
    android:roundIcon="@mipmap/app_icon"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name=".activities.InspectBoatActivity"
      android:screenOrientation="portrait"/>
    <activity
      android:name=".activities.AddBoatActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity android:name=".activities.InspectionsListActivity"/>
    <activity
      android:name=".activities.InspectionResultActivity"
      android:screenOrientation="portrait"/>
    <activity android:name=".activities.AddUserActivity"/>
    <activity android:name=".activities.BoatForInspectionActivity"/>
    <activity android:name=".activities.AskInspectionActivity"/>
    <activity
      android:configChanges="layoutDirection|locale"
      android:label="@string/title_activity_settings"
      android:name=".activities.SettingsActivity"/>

    <activity android:name=".activities.MyInspection"/>
    <activity android:name=".activities.MyInspection$activity_search_boat"/>
    <activity android:name=".activities.SearchBoatActivity"/>
    <activity android:name=".activities.SendFeedbackActivity"/>
    <activity android:name=".activities.MainActivity"/>

    <activity
      android:name=".activities.SplashActivity"
      android:label="@string/app_name"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
      <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ecf8af8586fdec97046346763eaceff00443b591" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>